/* Variables https://www.colourlovers.com/palette/292482/Terra */
/* --------------------------------------------------------*/
:root {
	--tan:        #E8DDCB;
	--brown:      #CDB380;
	--teal:       #036564;
	--crepuscule: #033649;
	--navy:       #031634;
	--patua:      'Patua One', monospace;
	--libre:      'Libre Baskerville', serif;
}

#name {
    font-size: 1.1rem;
    color: white;
    position: absolute;
    z-index: 1;
}
@media (max-width: 834.98px)
{
    #name {
        right: 40%; 
        bottom: -84%;
         
    }
}
@media (min-width: 835px) and (max-width: 999.98px)
{
    #name {
        Left: 5%; 
        color: var(--navy);
         
    }
}
@media (min-width: 1000px) and (max-width: 1174.98px)
{
    #name {
        right: 35%; 
        bottom: -84%; 
    }
}
@media (min-width: 1175px)
{
    #name {
        right: 46%; 
        bottom: -84%; 
    }
}

/* Overall site style */
/* --------------------------------------------------------*/
html {
	height: 100%;
}

body {
	background-color: var(--tan); 
	font-family: 'Patua One', monospace;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

footer {
	flex-shrink: 0;
	padding: 10px;
	color: white;
	border-top: 3px solid transparent; 
	background-color: var(--navy); 
	font-size: 0.9rem;
	color: var(--brown);
}

footer p {
	height: 41.5px;
	line-height: 41.5px;
}

/* Must wrap web page's content within <div class="content"> ... </div> to make footer stay on bottom */
.content {
	flex: 1 0 auto;
}

.no-padding {
	padding: 0;
}

.btnArt {
	color: white;
	background-color: var(--crepuscule);
	border-color: white;
	border-radius: 0;
}

.btnArt:hover {
	color: var(--tan);
}

a {
	color: var(--teal);
}

a:hover {
	color: var(--navy);
}

#adH {
	width: 200px;
	height: 72px;
	background-image: url("/img/Trivago.png");
}

#adH a {
	width: 200px;
	height: 72px;
	display: block;
}

#adV {
	width: 172px; 
	height: 350px; 
	background-image: url("/img/BK.png");
	background-repeat: no-repeat;
}

#adV a {
	width: 172px; 
	height: 350px; 
	display: block;
}

/* Navbar Styles */
/* --------------------------------------------------------*/
header nav:first-child {
	font-size: 0.87rem;
	background-color: var(--tan);
	margin-top: -5px
}

header nav:first-child a {
	color: var(--teal);
}

/* This came from the Bootstrap V4.4.1 source file bootstrap.css and I modified it so
   the navbar collapsed at 834px to conform to my navbar style                        */
@media (min-width: 834px) 
{
	.navbar-expand-834 {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.navbar-expand-834 .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.navbar-expand-834 .navbar-nav .dropdown-menu {
		position: absolute;
	}
	.navbar-expand-834 .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
	.navbar-expand-834 > .container,
	.navbar-expand-834 > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.navbar-expand-834 .navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar-expand-834 .navbar-toggler {
		display: none;
	}
}

header .navbar:not(:first-child) {
	background-color: var(--navy);
}

.navDrop {
	background-color: rgba(3,22,52,0.92);
	border: 2px solid white;
}
	
.navDrop a, .navbar-toggler {
	color: var(--tan);
}

.navDrop a:hover {
	color: var(--tan);
	background-color: var(--teal);
}

.navbar-toggler {
	border-color: var(--tan);
}

header nav:not(:first-child) .nav-item a {
	padding-left: 5px !important;
	color: var(--tan);
}

nav img, footer img {
	width: 90px; 
	height: 40px;
}

input#search {
	border-radius: 0;
}

/* leftPanel.inc.php Styles */
/* --------------------------------------------------------*/
#left .card-header {
	background-color: var(--navy);
	color: white;
}

#left ul li {
	background-color: rgba(3,101,100,0.65);
}

#left ul li a {
	color: white;
}

#left ul li a:hover {
	color: var(--tan);
}

@media (max-width: 991.98px)
{
	#left {
		height: 450px;
		overflow: scroll;
	}
}
	
/* index.php Styles */
/* --------------------------------------------------------*/
.carousel {
	font-family: var(--libre);
}

.carousel-height {
	height:598px;
}

.captionBkgnd {
	background-color: rgba(0,0,0,0.6);
}

#indexRating, #newAdditions, #twoRecent {
	color: var(--navy);
	border: 2px solid var(--teal);
}

/* AboutUs.php Styles */
/* --------------------------------------------------------*/
#about-us {
	color: var(--tan);
	background-color: rgba(3,54,73,0.90);
	border: 2px solid white;
}

#about-us table thead {
	color: white;
	font-size: 1.1rem;
}

#about-us table tbody {
	color: var(--tan);
}

/* Images.php Styles */
/* --------------------------------------------------------*/
#imgFilter {
	font-family: var(--libre);
	color: var(--crepuscule);
}

#filter {
	background-color: var(--teal);
	height: 100px;
	color: white;
	font-size: 1.5rem;
}

#filterBtn {
	font-size: 1.2rem;
}

.imgSize {
	width: 250px;
	height: 250px;
}

#displayImgs h6 {
	font-size: 0.9rem;
}

#cb1 ~ span {
	font-size: 0.9rem;
}

/* Posts.php Styles */
/* --------------------------------------------------------*/
#post {
	font-family: var(--libre);
	color: var(--crepuscule);
}

#post h1 {
	text-decoration: underline;
}

#post #msg {
	font-family: var(--patua);
	font-size: 1.1rem;
	color: var(--navy);
}	

/* Single_CountryCity.php / single_user.php  */
#countryCity, #singleUser {
	text-align: center;
}

#countryCity h2, #singleUser h2{
	color: var(--teal);
	font-family: var(--libre);
}

#countryCity img {
	border: 2px solid var(--navy);
	 width: 600px;
	height: 500px;
}

#countryCity table, #singleUser table {
	background-color: var(--crepuscule);
	color: var(--tan);
	font-size: 1.3rem;
	text-align: left;
}

#countryDesc {
	color: var(--crepuscule);
	font-family: var(--libre);
	font-size: 1.3rem;
	text-align: justify;
	padding: 15px;
}

#map {
	width: 600px;
	height: 500px;
	background-color: grey;
}

.imageSize {
	width: 200px;
	height: 200px;
}

.imagePadding {
	margin-top: .4rem;
	margin-left: 1rem;
	margin-right: 1rem;
}