/* Variables https://www.colourlovers.com/palette/292482/Terra */
/* --------------------------------------------------------*/
:root {
	--tan:        #E8DDCB;
	--brown:      #CDB380;
	--teal:       #036564;
	--crepuscule: #033649;
	--navy:       #031634;
	--patua:      'Patua One', monospace;
	--oleo:       'Oleo Script', cursive;
}

/* Overall site style */
/* --------------------------------------------------------*/
html {
	height: 100%;
}

body {
	background-color: var(--tan); 
	font-family: 'Patua One', monospace;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

footer {
	flex-shrink: 0;
	padding: 10px;
	color: white;
	border-top: 3px solid transparent; 
	background-color: var(--navy); 
	font-size: 0.9rem;
	color: var(--tan);
}

footer p {
	height: 41.5px;
	line-height: 41.5px;
}

/* Must wrap web page's content within <div class="content"> ... </div> to make footer stay on bottom */
.content {
	flex: 1 0 auto;
}

.no-padding {
	padding: 0;
}

.btnArt {
	color: white;
	background-color: var(--crepuscule);
	border-color: white;
	border-radius: 0;
}

/* Navbar Styles */
/* --------------------------------------------------------*/
header nav:first-child {
	font-size: 0.87rem;
	background-color: var(--tan);
	margin-top: -5px
}

header nav:first-child a {
	color: var(--teal);
}

/* This came from the Bootstrap V4.4.1 source file bootstrap.css and I modified it so
   the navbar collapsed at 834px to conform to my navbar style                        */
@media (min-width: 834px) 
{
	.navbar-expand-834 {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.navbar-expand-834 .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.navbar-expand-834 .navbar-nav .dropdown-menu {
		position: absolute;
	}
	.navbar-expand-834 .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
	.navbar-expand-834 > .container,
	.navbar-expand-834 > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.navbar-expand-834 .navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar-expand-834 .navbar-toggler {
		display: none;
	}
}

header .navbar:not(:first-child) {
	background-color: var(--navy);
}

.navDrop {
	background-color: rgba(3,22,52,0.92);
	border: 2px solid white;
}
	
.navDrop a, .navbar-toggler {
	color: var(--tan);
}

.navDrop a:hover {
	color: var(--tan);
	background-color: var(--teal);
}

.navbar-toggler {
	border-color: var(--tan);
}

header nav:not(:first-child) .nav-item a {
	padding-left: 5px !important;
	color: var(--tan);
}

nav img, footer img {
	width: 90px; 
	height: 40px;
}

input#search {
	border-radius: 0;
}

/* leftPanel.inc.php Styles */
/* --------------------------------------------------------*/
#left .card-header {
	background-color: var(--navy);
	color: white;
}

#left ul li {
	background-color: rgba(3,101,100,0.65);
}

#left ul li a {
	color: white;
}

#left ul li a:hover {
	color: var(--tan);
}
	
/* index.php Styles */
/* --------------------------------------------------------*/
.carousel {
	font-family: var(--oleo);
}

.carousel-height {
	height:598px;
}

.captionBkgnd {
	background-color: rgba(0,0,0,0.6);
}

#indexRating, #newAdditions {
	color: var(--navy);
	border: 2px solid var(--teal);
}

/* AboutUs.php Styles */
/* --------------------------------------------------------*/
#about-us {
	color: var(--tan);
	background-color: rgba(3,54,73,0.90);
	border: 2px solid white;
}

#about-us table thead {
	color: white;
	font-size: 1.1rem;
}

#about-us table tbody {
	color: var(--tan);
}